body{
    background-color: #1a4076;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-optical-sizing: 100px;
    font-display:inherit;
    text-align: justify;
}
p{
    font-family: timne 'Times New Roman';
}
img{
    width: 500px;
    height: 300px;
}